 :root{
   --mainBlue: #2a2a72;
   --lightBlue: #009ffd;
 }

 body{
   background-color: var(--mainBlue);
 }

 .footer{
 	background: #fafafa;
 	border-top: 2px solid #eee;
 }

 .bg-1{
 	border-top: 1px solid #eee;
 	border-bottom: 1px solid #eee;
 	background: #fafafa;
 }

.jumbotron-heading {
    font-weight: 300;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
